#links > li:hover{
  margin: 10px;
  text-align: center;
  border: 2px;
  border-radius: 5px;
  border-style: inset;
}

#links > li:not(:hover){
  margin: 10px;
  text-align: center;
  border: 2px;
  border-radius: 5px;
  border-style: outset;
}

#links > li:nth-child(odd){
  background-color: #B1B5B8;
}

#links > li:nth-child(even){
  background-color: #BECCD8;
}
