#doc-list > ul{
  list-style: none;
  font-size: 2em;
  padding: 0;
}

#doc-list > ul > li:hover{
  margin: 10px;
  text-align: center;
  border: 2px;
  border-radius: 15px;
  border-style: outset;
}

#doc-list > ul > li:not(:hover){
  margin: 10px;
  text-align: center;
  border: 2px;
  border-radius: 15px;
  border-style: inset;
}

#doc-list > ul > li:nth-child(odd){
  background-color: #B1B5B8;
}

#doc-list > ul > li:nth-child(even){
  background-color: #BECCD8;
}

#indisponible {
  background-color: #F87373;
  color: darkred;
  text-align: center;
  font-size: 2em;
  border-style: ridge;
  border-width: 5px;
  border-color: darkred;
  border-radius: 5px;
  padding: 30px;
}
